$root: '../../';
@font-face {
  font-family: "Source Sans";
  src: url($root + 'font/SourceSansPro-Regular.otf');
}

@font-face {
  font-family:"Source Sans";src:url($root + 'font/SourceSansPro-Light.otf');
  font-weight:200;
}

@font-face {
  font-family:"Source Sans";src:url($root + 'font/SourceSansPro-Semibold.otf');
  font-weight:600;
}

body {
  font: 16px "Source Sans",helvetica,arial,sans-serif;
}