<!DOCTYPE html>
<html>
  <head>
    <title>Angular App Boilerplate</title>

    <link rel="stylesheet" href="stylesheet/_css/stylesheet/style.css">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />

    <script src="lib/websql.js"></script>
    <script src="lib/vendor/angular.js"></script>
    <script src="lib/vendor/angular-ui-router.js"></script>
    <script src="module/mobile-menu/ng-mobile-menu.js"></script>

    <script src="main.js"></script>

  </head>
  <body ng-app="app" ng-controller="AppCtrl">

    <div id="sp-nav">
      <div class="topcoat-list-container">
        <ul class="topcoat-list">
          <li class="topcoat-list__item" ng-click="$spMenu.goToPage('#/home')">Home</li>
          <li class="topcoat-list__item" ng-click="$spMenu.goToPage('#/test1')">Test 1</li>
          <li class="topcoat-list__item" ng-click="$spMenu.goToPage('#/test2')">Test 2</li>
        </ul>
      </div>
    </div>

    <div id="sp-page">
      <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
          <a class="topcoat-icon-button--quiet" href="" ng-click="$spMenu.toggle()">
            <span class="topcoat-icon topcoat-icon--menu-stack"></span>
          </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
          <h1 class="topcoat-navigation-bar__title">App Name</h1>
        </div>
        <div class="topcoat-navigation-bar__item right quarter">
          <a class="topcoat-icon-button--quiet">
            <span class="topcoat-icon topcoat-icon--edit"></span>
          </a>
        </div>
      </div>

      <div ui-view></div>

    </div>

  </body>
</html>