@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/stylesheet\/_reset\.scss}line{font-family:\000031}}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/stylesheet\/_reset\.scss}line{font-family:\000038}}
html {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  font-size: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/stylesheet\/_reset\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/stylesheet\/_reset\.scss}line{font-family:\0000340}}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "Source Sans";
  src: url("../../font/SourceSansPro-Regular.otf"); }

@font-face {
  font-family: "Source Sans";
  src: url("../../font/SourceSansPro-Light.otf");
  font-weight: 200; }

@font-face {
  font-family: "Source Sans";
  src: url("../../font/SourceSansPro-Semibold.otf");
  font-weight: 600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/stylesheet\/_font\.scss}line{font-family:\0000317}}
body {
  font: 16px "Source Sans",helvetica,arial,sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\000034}}
body {
  text-rendering: optimizeLegibility; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\000038}}
.topcoat-icon--menu-stack {
  background: url("../../../module/mobile-menu/topcoat/img/hamburger_dark.svg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\0000315}}
.quarter {
  width: 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\0000319}}
.half {
  width: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\0000323}}
.three-quarters {
  width: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\0000327}}
.third {
  width: 33.333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\0000331}}
.two-thirds {
  width: 66.666%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\0000335}}
.full {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\0000339}}
.left {
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\0000343}}
.center {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\0000347}}
.right {
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\0000351}}
.reset-ui {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\0000378}}
.topcoat-button, .topcoat-button--quiet, .topcoat-button--large, .topcoat-button--large--quiet, .topcoat-button--cta, .topcoat-button--large--cta {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 1.25rem;
  font-size: 16px;
  line-height: 3rem;
  letter-spacing: 1px;
  color: #454545;
  text-shadow: 0 1px #fff;
  vertical-align: top;
  background-color: #e5e9e8;
  -webkit-box-shadow: inset 0 1px #fff;
  box-shadow: inset 0 1px #fff;
  border: 1px solid #a5a8a8;
  -webkit-border-radius: 6px;
  border-radius: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003118}}
.topcoat-button:active, .topcoat-button.is-active, .topcoat-button--large:active, .topcoat-button--large.is-active {
  background-color: #d3d7d7;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.12); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003124}}
.topcoat-button:disabled, .topcoat-button.is-disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003130}}
.topcoat-button--quiet {
  background: transparent;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003137}}
.topcoat-button--quiet:active, .topcoat-button--quiet.is-active, .topcoat-button--large--quiet:active, .topcoat-button--large--quiet.is-active {
  color: #454545;
  text-shadow: 0 1px #fff;
  background-color: #d3d7d7;
  border: 1px solid #a5a8a8;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.12); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003146}}
.topcoat-button--quiet:disabled, .topcoat-button--quiet.is-disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003152}}
.topcoat-button--large, .topcoat-button--large--quiet {
  font-size: 1.3rem;
  line-height: 4rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003157}}
.topcoat-button--large:disabled, .topcoat-button--large.is-disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003163}}
.topcoat-button--large--quiet {
  background: transparent;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003170}}
.topcoat-button--large--quiet:disabled, .topcoat-button--large--quiet.is-disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003176}}
.topcoat-button--cta, .topcoat-button--large--cta {
  border: 1px solid #143250;
  background-color: #288edf;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.36);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.36);
  color: #fff;
  font-weight: 500;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.36); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003186}}
.topcoat-button--cta:active, .topcoat-button--cta.is-active, .topcoat-button--large--cta:active, .topcoat-button--large--cta.is-active {
  background-color: #0380e8;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.12); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003192}}
.topcoat-button--cta:disabled, .topcoat-button--cta.is-disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003198}}
.topcoat-button--large--cta {
  font-size: 1.3rem;
  line-height: 4rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003203}}
.topcoat-button--large-cta:disabled, .topcoat-button--large--cta.is-disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003209}}
.topcoat-icon-button, .topcoat-icon-button--quiet, .topcoat-icon-button--large, .topcoat-icon-button--large--quiet {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 .75rem;
  line-height: 3rem;
  letter-spacing: 1px;
  color: #454545;
  text-shadow: 0 1px #fff;
  vertical-align: baseline;
  background-color: #e5e9e8;
  -webkit-box-shadow: inset 0 1px #fff;
  box-shadow: inset 0 1px #fff;
  border: 1px solid #a5a8a8;
  -webkit-border-radius: 6px;
  border-radius: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003248}}
.topcoat-icon-button:active, .topcoat-icon-button.is-active {
  background-color: #d3d7d7;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.12); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003254}}
.topcoat-icon-button:disabled, .topcoat-icon-button.is-disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003260}}
.topcoat-icon-button--quiet {
  background: transparent;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003267}}
.topcoat-icon-button--quiet:active, .topcoat-icon-button--quiet.is-active, .topcoat-icon-button--large--quiet:active, .topcoat-icon-button--large--quiet.is-active {
  color: #454545;
  text-shadow: 0 1px #fff;
  background-color: #d3d7d7;
  border: 1px solid #a5a8a8;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.12); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003276}}
.topcoat-icon-button--quiet:disabled, .topcoat-icon-button--quiet.is-disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003282}}
.topcoat-icon-button--large, .topcoat-icon-button--large--quiet {
  width: 4rem;
  height: 4rem;
  line-height: 4rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003288}}
.topcoat-icon-button--large:active, .topcoat-icon-button--large.is-active {
  background-color: #d3d7d7;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.12); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003294}}
.topcoat-icon-button--large:disabled, .topcoat-icon-button--large.is-disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003300}}
.topcoat-icon-button--large--quiet {
  background: transparent;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003307}}
.topcoat-icon-button--large--quiet:disabled, .topcoat-icon-button--large--quiet.is-disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003313}}
.topcoat-icon, .topcoat-icon--large {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003323}}
.topcoat-icon--large {
  width: 2.5rem;
  height: 2.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003328}}
.topcoat-list__container {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid #bcbfbf;
  border-bottom: 1px solid #eff1f1;
  background-color: #dfe2e2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003347}}
.topcoat-list__header {
  margin: 0;
  padding: 4px 20px;
  font-size: .9em;
  font-weight: 400;
  background-color: #cccfcf;
  color: #656565;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  border-bottom: solid 1px rgba(255, 255, 255, 0.23); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003359}}
.topcoat-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-top: 1px solid #bcbfbf;
  color: #454545; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003367}}
.topcoat-list__item {
  margin: 0;
  padding: 0;
  padding: 1.25rem;
  border-top: 1px solid #eff1f1;
  border-bottom: 1px solid #bcbfbf; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003375}}
.topcoat-list__item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003379}}
.topcoat-navigation-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  white-space: nowrap;
  overflow: hidden;
  word-spacing: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #e5e9e8;
  color: #000;
  -webkit-box-shadow: inset 0 -1 #b9bcbc, 0 1px rgba(0, 0, 0, 0.95);
  box-shadow: inset 0 -1 #b9bcbc, 0 1px rgba(0, 0, 0, 0.95); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003409}}
.topcoat-navigation-bar__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  margin: var-margin;
  line-height: 4rem;
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003430}}
.topcoat-navigation-bar__title {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.3rem;
  font-weight: 400;
  color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003446}}
.topcoat-search-input, .topcoat-search-input--large {
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1.25rem;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 5px;
  height: 3rem;
  font: inherit;
  font-weight: 200;
  outline: 0;
  border: 1px solid #a5a8a8;
  background-color: #e5e9e8;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
  color: #454545;
  -webkit-appearance: none;
  padding: 0 0 0 2.7em;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-image: url(../img/search.svg);
  background-position: 1em center;
  background-repeat: no-repeat;
  -webkit-background-size: 16px;
  -moz-background-size: 16px;
  background-size: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003476}}
.topcoat-search-input:focus, .topcoat-search-input--large:focus {
  background-color: #fff;
  color: var-color-focus; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003481}}
.topcoat-search-input::-webkit-search-cancel-button, .topcoat-search-input::-webkit-search-decoration {
  margin-right: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003485}}
.topcoat-search-input:focus::-webkit-input-placeholder, .topcoat-search-input:focus::-webkit-input-placeholder {
  color: #c6c8c8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003489}}
.topcoat-search-input:disabled, .topcoat-search-input.is-disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003495}}
.topcoat-search-input--large {
  height: 4rem;
  font-size: 1.3rem;
  font-weight: 200;
  padding-left: 2.8em;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background-position: 1.2em center;
  -webkit-background-size: 1.3rem;
  -moz-background-size: 1.3rem;
  background-size: 1.3rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003508}}
.topcoat-search-input--large:disabled, .topcoat-search-input--large.is-disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003514}}
.topcoat-text-input, .topcoat-text-input--large {
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1.25rem;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 5px;
  height: 3rem;
  font: inherit;
  font-weight: 200;
  outline: 0;
  border: 1px solid #a5a8a8;
  background-color: #e5e9e8;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
  color: #454545; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003534}}
.topcoat-text-input:focus {
  background-color: #fff;
  color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003539}}
.topcoat-text-input:disabled, .topcoat-text-input.is-disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003545}}
.topcoat-text-input--large {
  height: 4rem;
  font-size: 1.3rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003550}}
.topcoat-text-input--large:focus {
  background-color: #fff;
  color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/topcoat\/css\/topcoat-mobile-light\.min\.scss}line{font-family:\00003555}}
.topcoat-text-input--large.is-disabled, .topcoat-text-input--large:disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/style\.scss}line{font-family:\000033}}
#sp-hide-menu {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/style\.scss}line{font-family:\000036}}
#sp-nav,
#sp-nav.wide {
  width: 80%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/style\.scss}line{font-family:\0000315}}
#sp-nav nav,
#sp-nav.wide nav {
  display: block;
  background: black;
  color: white;
  z-index: 5;
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/style\.scss}line{font-family:\0000323}}
#sp-nav nav div,
#sp-nav.wide nav div {
  z-index: 5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/style\.scss}line{font-family:\0000327}}
#sp-page {
  position: absolute;
  width: 100%;
  height: 100%;
  float: right;
  z-index: 10;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/style\.scss}line{font-family:\0000338}}
#sp-nav.show,
#sp-nav.show.wide {
  left: 0px;
  overflow-x: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/style\.scss}line{font-family:\0000343}}
#sp-nav.show + #sp-page #sp-show-menu,
#sp-nav.show.wide + #sp-page #sp-show-menu {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/style\.scss}line{font-family:\0000347}}
#sp-nav.show + #sp-page #sp-hide-menu,
#sp-nav.show.wide + #sp-page #sp-hide-menu {
  display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/style\.scss}line{font-family:\0000351}}
#sp-nav.show + #sp-page,
#sp-nav.show.wide + #sp-page {
  position: absolute;
  -webkit-transform: translateX(80%);
  transform: translateX(80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/style\.scss}line{font-family:\0000361}}
body {
  overflow-x: hidden; }

@media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/style\.scss}line{font-family:\0000365}}
  #sp-nav {
    width: 20%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/style\.scss}line{font-family:\0000368}}
  #sp-nav.show + #sp-page {
    -webkit-transform: translateX(20%);
    transform: translateX(20%); } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/style\.scss}line{font-family:\0000374}}
#sp-page {
  background-color: darkgray;
  color: whitesmoke; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/angular-app-boilerplate\/module\/mobile-menu\/style\.scss}line{font-family:\0000379}}
#sp-nav {
  background: whitesmoke; }

/*@ sourceMappingURL=style.css.map */